.connect {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.connect-caption {
    margin-bottom: 0.5em;
}

.fab {
    font-family: FontAwesome !important;
    font-size: 3.5em;
    padding: 0.8em;
    color: black;
    font-style: normal;
}

.fab:before {
    display: inline-block;
    text-decoration: none;
}

.fab:hover {
    color: #d5d5d5;
}

.fa-facebook {
    color: #3B5998;
}

.fa-twitter {
    color: #00ACED;
}

.fa-instagram {
    color: #517FA8;
}

.fa-youtube {
    color: #BB0000;
}

.connect-hr {
    border-top: 1px solid black;
    width: 50%;
}






