.header {
    width: 100%;
    height: 6vh;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.displayName, .displayMoto {
    display: inline-block;
    color: white;
    font-size: 25px;
    padding: 0 25px;
}

.displayMoto {
   float: right;
}

