.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-caption {
    margin-bottom: 1em;
    text-align: center;
}

.login-caption p {
    font-size: 25px;
    margin: 0.5em;
}

.login-header {
    font-size: 50px;
}

.login-container .form-horizontal {
    width: 20em;
}

.link-signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.5em;
}

